* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
html::-webkit-scrollbar {
  width: 8px; 
}

html::-webkit-scrollbar-track {
  background-color: #fff;
}

html::-webkit-scrollbar-thumb {
  background-color: rgb(204, 197, 197);
  border-radius: 20px;
}
table tr td th {
  border: none !important;
  border-radius: 0px !important;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
h1 {
  text-align: center;
  padding: 20px 0;
  font-weight: 500;
}
.heading {
  text-align: center;
  margin-top: 20px;
}

.container {
  padding-left: 50px;
  padding-right: 50px;
  margin: 20px auto;
  background-color: #fff;
  display: flex;
  min-height: calc(100vh - 80px);
}

.sidebar {
  padding: 20px;
  flex-basis: 20%;
  max-width: 20%;
  border-radius: 10px;
  background-color: rgb(44, 143, 209);
}

.wrapper {
  margin-left: 20px;
  flex-basis: calc(100% - 20%);
  max-width: calc(100% - 20%);
  background-color: #fff;
}
.wrapper .form {
  background-color: rgb(54 162 235 / 0%);
  width: 1000px;
  margin: 0 auto;
  color: #333 !important;
  border-radius: 10px;
  box-shadow: 0 7px 25px rgb(0 0 0 / 8%);
}
.form .form-group {
  padding: 15px;
}
.form .form-group label {
  margin-bottom: 10px;
  font-size: 16px;
  color: #333;
  display: inline-block;
  min-width: 200px;
}
.form .form-group input {
  min-width: 400px;
  padding: 12px 8px;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.form .form-group textarea {
  min-width: 400px;
  height: 500px;
  padding: 12px 8px;
  resize: none;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.form .form-group .submit {
  margin-left: auto;
  padding: 10px 20px;
  border: 1px solid;
  outline: none;
  border-radius: 5px;
  background-color: #fff;
  color: rgb(54, 162, 235);
  cursor: pointer;
  transition: 0.3s;
}
.right {
  text-align: right;
}
.form .form-group select {
  min-width: 400px;
  padding: 10px 5px;
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid #ccc;
}
.form .form-group .submit:hover {
  border: 1px solid #fff;
  background-color: rgb(54, 162, 235);
  color: #fff;
}
.sidebar__heading {
  color: #fff;
  text-align: left;
  font-size: 30px;
  margin-bottom: 20px;
}
.sidebar__list {
  display: flex;
  flex-direction: column;
}
.sidebar__list .item {
  text-align: left;
  width: 100%;
  padding: 10px 6px;
  color: #fff;
  transition: 0.3s ease;
}
.sidebar__list .item:hover {
  background-color: #fff;
  color: #333;
  border-radius: 5px;
  cursor: pointer;
}
.sidebar__list .item a {
  color: inherit;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 400;
}
.sub {
  display: none;
  transition: 0.3s ease;
}
.sub.show {
  display: block;
  transition: 0.3s;
}

.sub .sub-item {
  padding: 10px 0;
  color: #333;
}
.sub .sub-item:hover {
  color: rgb(54, 162, 235);
}
.sub .sub-item a {
  font-size: 13px;
  color: inherit;
}

.noti_success {
  padding: 10px;
  font-weight: 400;
  color: #fff;
  position: absolute;
  top: 0px;
  right: 20px;
  font-size: 16px;
  border-radius: 5px;
  margin: 20px 0;
  font-weight: 400;
  background-color: #20c997;
}
.noti_error {
  padding: 10px;
  font-weight: 400;
  color: #fff;
  position: absolute;
  top: 0px;
  right: 20px;
  font-size: 16px;
  border-radius: 5px;
  margin: 20px 0;
  font-weight: 400;
  background-color: rgb(255, 99, 132);
}
.count-order {
  position: absolute;
  top: 30px;
  left: 230px;
  min-width: 30px;
  min-height: 30px;
  padding: 5px;
  font-size: 15px;
  color: #fff;
  background-color: #eb7b67;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: scale 2s infinite;
  transition: 0.3s ease;
}
@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
